<h1 id="third-party-licences">Third Party Licences</h1>
<h2 id="mars-textures">Mars Textures</h2>
<p>Copyright (c) by James Hastings-Trew</p>
<p><a href="http://planetpixelemporium.com/planets.html">http://planetpixelemporium.com/planets.html</a></p>
<p>All textures and images on this site are Copyright (c) by James Hastings-Trew.
    The maps are free to download and use as source material or resource in artwork or rendering
    (CGI or real time) in any kind of project - personal, commercial, broadcast, or display. You are not
    free to redistribute the maps &quot;as is&quot; in any medium - online, CD, for sale, etc. where the primary
    intent is to distribute the maps themselves and not the result of using the maps, without my
    permission. That is to say, the results of using the maps are free to use and distribute, but the
    maps as direct source material for those results may not be, unless you have my permission. The maps
    may not be included as they exist on this site in any kind of commercial, shareware, or freeware
    product without my permission. The maps may not be repackaged with 3D models and sold in any form.
    The maps may not be given away in whole or in part on another website or in a freeware or commercial
    product without my permission.</p>
<h2 id="star-map">Star Map</h2>
<p>Credit to this texture goes to:
    NASA/Goddard Space Flight Center Scientific Visualization Studio.</p>
<p><a href="http://svs.gsfc.nasa.gov/3895">http://svs.gsfc.nasa.gov/3895</a></p>
<h2 id="kotlin-stdlib">Kotlin stdlib</h2>
<p>Copyright 2010-2018 JetBrains s.r.o.</p>
<p>Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at</p>
<p><a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a></p>
<p>Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.</p>
<h2 id="android-appcompat">Android AppCompat</h2>
<p>Copyright (C) 2011 The Android Open Source Project</p>
<p>Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at</p>
<p><a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a></p>
<p>Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.</p>
<h2 id="donations-library">Donations library</h2>
<pre><code>                                 Apache License
                           Version 2.0, January 2004
                        http://www.apache.org/licenses/

   TERMS AND CONDITIONS FOR <span class="hljs-keyword">USE</span>, REPRODUCTION, <span class="hljs-keyword">AND</span> DISTRIBUTION

   <span class="hljs-number">1.</span> Definitions.

      <span class="hljs-string">"License"</span> shall mean the terms <span class="hljs-keyword">and</span> conditions <span class="hljs-keyword">for</span> <span class="hljs-keyword">use</span>, reproduction,
      <span class="hljs-keyword">and</span> distribution <span class="hljs-keyword">as</span> defined <span class="hljs-keyword">by</span> Sections <span class="hljs-number">1</span> <span class="hljs-keyword">through</span> <span class="hljs-number">9</span> <span class="hljs-keyword">of</span> this document.

      <span class="hljs-string">"Licensor"</span> shall mean the copyright owner <span class="hljs-keyword">or</span> entity authorized <span class="hljs-keyword">by</span>
      the copyright owner that <span class="hljs-keyword">is</span> granting the License.

      <span class="hljs-string">"Legal Entity"</span> shall mean the <span class="hljs-keyword">union</span> <span class="hljs-keyword">of</span> the acting entity <span class="hljs-keyword">and</span> all
      other entities that control, <span class="hljs-keyword">are</span> controlled <span class="hljs-keyword">by</span>, <span class="hljs-keyword">or</span> <span class="hljs-keyword">are</span> <span class="hljs-keyword">under</span> common
      control <span class="hljs-keyword">with</span> that entity. <span class="hljs-keyword">For</span> the purposes <span class="hljs-keyword">of</span> this definition,
      <span class="hljs-string">"control"</span> means (i) the <span class="hljs-keyword">power</span>, direct <span class="hljs-keyword">or</span> indirect, <span class="hljs-keyword">to</span> cause the
      direction <span class="hljs-keyword">or</span> <span class="hljs-keyword">management</span> <span class="hljs-keyword">of</span> such entity, whether <span class="hljs-keyword">by</span> contract <span class="hljs-keyword">or</span>
      otherwise, <span class="hljs-keyword">or</span> (ii) ownership <span class="hljs-keyword">of</span> fifty <span class="hljs-keyword">percent</span> (<span class="hljs-number">50</span>%) <span class="hljs-keyword">or</span> more <span class="hljs-keyword">of</span> the
      outstanding shares, <span class="hljs-keyword">or</span> (iii) beneficial ownership <span class="hljs-keyword">of</span> such entity.

      <span class="hljs-string">"You"</span> (<span class="hljs-keyword">or</span> <span class="hljs-string">"Your"</span>) shall mean an individual <span class="hljs-keyword">or</span> Legal Entity
      exercising permissions granted <span class="hljs-keyword">by</span> this License.

      <span class="hljs-string">"Source"</span> <span class="hljs-keyword">form</span> shall mean the preferred <span class="hljs-keyword">form</span> <span class="hljs-keyword">for</span> making modifications,
      <span class="hljs-keyword">including</span> but <span class="hljs-keyword">not</span> limited <span class="hljs-keyword">to</span> software <span class="hljs-keyword">source</span> code, documentation
      <span class="hljs-keyword">source</span>, <span class="hljs-keyword">and</span> configuration files.

      <span class="hljs-string">"Object"</span> <span class="hljs-keyword">form</span> shall mean <span class="hljs-keyword">any</span> <span class="hljs-keyword">form</span> resulting <span class="hljs-keyword">from</span> mechanical
      transformation <span class="hljs-keyword">or</span> <span class="hljs-keyword">translation</span> <span class="hljs-keyword">of</span> a <span class="hljs-keyword">Source</span> <span class="hljs-keyword">form</span>, <span class="hljs-keyword">including</span> but
      <span class="hljs-keyword">not</span> limited <span class="hljs-keyword">to</span> <span class="hljs-keyword">compiled</span> <span class="hljs-keyword">object</span> code, <span class="hljs-keyword">generated</span> documentation,
      <span class="hljs-keyword">and</span> conversions <span class="hljs-keyword">to</span> other media types.

      <span class="hljs-string">"Work"</span> shall mean the <span class="hljs-keyword">work</span> <span class="hljs-keyword">of</span> authorship, whether <span class="hljs-keyword">in</span> <span class="hljs-keyword">Source</span> <span class="hljs-keyword">or</span>
      <span class="hljs-keyword">Object</span> <span class="hljs-keyword">form</span>, made available <span class="hljs-keyword">under</span> the License, <span class="hljs-keyword">as</span> indicated <span class="hljs-keyword">by</span> a
      copyright <span class="hljs-keyword">notice</span> that <span class="hljs-keyword">is</span> included <span class="hljs-keyword">in</span> <span class="hljs-keyword">or</span> attached <span class="hljs-keyword">to</span> the <span class="hljs-keyword">work</span>
      (an example <span class="hljs-keyword">is</span> provided <span class="hljs-keyword">in</span> the Appendix below).

      <span class="hljs-string">"Derivative Works"</span> shall mean <span class="hljs-keyword">any</span> <span class="hljs-keyword">work</span>, whether <span class="hljs-keyword">in</span> <span class="hljs-keyword">Source</span> <span class="hljs-keyword">or</span> <span class="hljs-keyword">Object</span>
      <span class="hljs-keyword">form</span>, that <span class="hljs-keyword">is</span> based <span class="hljs-keyword">on</span> (<span class="hljs-keyword">or</span> derived <span class="hljs-keyword">from</span>) the <span class="hljs-keyword">Work</span> <span class="hljs-keyword">and</span> <span class="hljs-keyword">for</span> which the
      editorial revisions, annotations, elaborations, <span class="hljs-keyword">or</span> other modifications
      represent, <span class="hljs-keyword">as</span> a whole, an original <span class="hljs-keyword">work</span> <span class="hljs-keyword">of</span> authorship. <span class="hljs-keyword">For</span> the purposes
      <span class="hljs-keyword">of</span> this License, Derivative Works shall <span class="hljs-keyword">not</span> <span class="hljs-keyword">include</span> works that remain
      separable <span class="hljs-keyword">from</span>, <span class="hljs-keyword">or</span> merely <span class="hljs-keyword">link</span> (<span class="hljs-keyword">or</span> bind <span class="hljs-keyword">by</span> <span class="hljs-keyword">name</span>) <span class="hljs-keyword">to</span> the interfaces <span class="hljs-keyword">of</span>,
      the <span class="hljs-keyword">Work</span> <span class="hljs-keyword">and</span> Derivative Works thereof.

      <span class="hljs-string">"Contribution"</span> shall mean <span class="hljs-keyword">any</span> <span class="hljs-keyword">work</span> <span class="hljs-keyword">of</span> authorship, <span class="hljs-keyword">including</span>
      the original <span class="hljs-keyword">version</span> <span class="hljs-keyword">of</span> the <span class="hljs-keyword">Work</span> <span class="hljs-keyword">and</span> <span class="hljs-keyword">any</span> modifications <span class="hljs-keyword">or</span> additions
      <span class="hljs-keyword">to</span> that <span class="hljs-keyword">Work</span> <span class="hljs-keyword">or</span> Derivative Works thereof, that <span class="hljs-keyword">is</span> intentionally
      submitted <span class="hljs-keyword">to</span> Licensor <span class="hljs-keyword">for</span> inclusion <span class="hljs-keyword">in</span> the <span class="hljs-keyword">Work</span> <span class="hljs-keyword">by</span> the copyright owner
      <span class="hljs-keyword">or</span> <span class="hljs-keyword">by</span> an individual <span class="hljs-keyword">or</span> Legal Entity authorized <span class="hljs-keyword">to</span> submit <span class="hljs-keyword">on</span> behalf <span class="hljs-keyword">of</span>
      the copyright owner. <span class="hljs-keyword">For</span> the purposes <span class="hljs-keyword">of</span> this definition, <span class="hljs-string">"submitted"</span>
      means <span class="hljs-keyword">any</span> <span class="hljs-keyword">form</span> <span class="hljs-keyword">of</span> electronic, verbal, <span class="hljs-keyword">or</span> written communication sent
      <span class="hljs-keyword">to</span> the Licensor <span class="hljs-keyword">or</span> its representatives, <span class="hljs-keyword">including</span> but <span class="hljs-keyword">not</span> limited <span class="hljs-keyword">to</span>
      communication <span class="hljs-keyword">on</span> electronic mailing lists, <span class="hljs-keyword">source</span> code control systems,
      <span class="hljs-keyword">and</span> issue <span class="hljs-keyword">tracking</span> systems that <span class="hljs-keyword">are</span> <span class="hljs-keyword">managed</span> <span class="hljs-keyword">by</span>, <span class="hljs-keyword">or</span> <span class="hljs-keyword">on</span> behalf <span class="hljs-keyword">of</span>, the
      Licensor <span class="hljs-keyword">for</span> the purpose <span class="hljs-keyword">of</span> discussing <span class="hljs-keyword">and</span> improving the <span class="hljs-keyword">Work</span>, but
      <span class="hljs-keyword">excluding</span> communication that <span class="hljs-keyword">is</span> conspicuously marked <span class="hljs-keyword">or</span> otherwise
      designated <span class="hljs-keyword">in</span> writing <span class="hljs-keyword">by</span> the copyright owner <span class="hljs-keyword">as</span> <span class="hljs-string">"Not a Contribution."</span>

      <span class="hljs-string">"Contributor"</span> shall mean Licensor <span class="hljs-keyword">and</span> <span class="hljs-keyword">any</span> individual <span class="hljs-keyword">or</span> Legal Entity
      <span class="hljs-keyword">on</span> behalf <span class="hljs-keyword">of</span> whom a Contribution has been received <span class="hljs-keyword">by</span> Licensor <span class="hljs-keyword">and</span>
      subsequently incorporated <span class="hljs-keyword">within</span> the Work.

   <span class="hljs-number">2.</span> <span class="hljs-keyword">Grant</span> <span class="hljs-keyword">of</span> Copyright License. Subject <span class="hljs-keyword">to</span> the terms <span class="hljs-keyword">and</span> conditions <span class="hljs-keyword">of</span>
      this License, <span class="hljs-keyword">each</span> Contributor hereby <span class="hljs-keyword">grants</span> <span class="hljs-keyword">to</span> You a perpetual,
      worldwide, non-exclusive, <span class="hljs-keyword">no</span>-charge, royalty-free, irrevocable
      copyright license <span class="hljs-keyword">to</span> reproduce, <span class="hljs-keyword">prepare</span> Derivative Works <span class="hljs-keyword">of</span>,
      publicly display, publicly perform, sublicense, <span class="hljs-keyword">and</span> <span class="hljs-keyword">distribute</span> the
      <span class="hljs-keyword">Work</span> <span class="hljs-keyword">and</span> such Derivative Works <span class="hljs-keyword">in</span> <span class="hljs-keyword">Source</span> <span class="hljs-keyword">or</span> <span class="hljs-keyword">Object</span> form.

   <span class="hljs-number">3.</span> <span class="hljs-keyword">Grant</span> <span class="hljs-keyword">of</span> Patent License. Subject <span class="hljs-keyword">to</span> the terms <span class="hljs-keyword">and</span> conditions <span class="hljs-keyword">of</span>
      this License, <span class="hljs-keyword">each</span> Contributor hereby <span class="hljs-keyword">grants</span> <span class="hljs-keyword">to</span> You a perpetual,
      worldwide, non-exclusive, <span class="hljs-keyword">no</span>-charge, royalty-free, irrevocable
      (<span class="hljs-keyword">except</span> <span class="hljs-keyword">as</span> stated <span class="hljs-keyword">in</span> this <span class="hljs-keyword">section</span>) patent license <span class="hljs-keyword">to</span> make, have made,
      <span class="hljs-keyword">use</span>, offer <span class="hljs-keyword">to</span> sell, sell, <span class="hljs-keyword">import</span>, <span class="hljs-keyword">and</span> otherwise transfer the <span class="hljs-keyword">Work</span>,
      <span class="hljs-keyword">where</span> such license applies <span class="hljs-keyword">only</span> <span class="hljs-keyword">to</span> those patent claims licensable
      <span class="hljs-keyword">by</span> such Contributor that <span class="hljs-keyword">are</span> necessarily infringed <span class="hljs-keyword">by</span> their
      Contribution(s) alone <span class="hljs-keyword">or</span> <span class="hljs-keyword">by</span> combination <span class="hljs-keyword">of</span> their Contribution(s)
      <span class="hljs-keyword">with</span> the <span class="hljs-keyword">Work</span> <span class="hljs-keyword">to</span> which such Contribution(s) was submitted. <span class="hljs-keyword">If</span> You
      institute patent litigation against <span class="hljs-keyword">any</span> entity (<span class="hljs-keyword">including</span> a
      <span class="hljs-keyword">cross</span>-claim <span class="hljs-keyword">or</span> counterclaim <span class="hljs-keyword">in</span> a lawsuit) alleging that the <span class="hljs-keyword">Work</span>
      <span class="hljs-keyword">or</span> a Contribution incorporated <span class="hljs-keyword">within</span> the <span class="hljs-keyword">Work</span> constitutes direct
      <span class="hljs-keyword">or</span> contributory patent infringement, <span class="hljs-keyword">then</span> <span class="hljs-keyword">any</span> patent licenses
      granted <span class="hljs-keyword">to</span> You <span class="hljs-keyword">under</span> this License <span class="hljs-keyword">for</span> that <span class="hljs-keyword">Work</span> shall terminate
      <span class="hljs-keyword">as</span> <span class="hljs-keyword">of</span> the <span class="hljs-built_in">date</span> such litigation <span class="hljs-keyword">is</span> filed.

   <span class="hljs-number">4.</span> Redistribution. You may reproduce <span class="hljs-keyword">and</span> <span class="hljs-keyword">distribute</span> copies <span class="hljs-keyword">of</span> the
      <span class="hljs-keyword">Work</span> <span class="hljs-keyword">or</span> Derivative Works thereof <span class="hljs-keyword">in</span> <span class="hljs-keyword">any</span> <span class="hljs-keyword">medium</span>, <span class="hljs-keyword">with</span> <span class="hljs-keyword">or</span> <span class="hljs-keyword">without</span>
      modifications, <span class="hljs-keyword">and</span> <span class="hljs-keyword">in</span> <span class="hljs-keyword">Source</span> <span class="hljs-keyword">or</span> <span class="hljs-keyword">Object</span> <span class="hljs-keyword">form</span>, provided that You
      meet the <span class="hljs-keyword">following</span> conditions:

      (a) You must give <span class="hljs-keyword">any</span> other recipients <span class="hljs-keyword">of</span> the <span class="hljs-keyword">Work</span> <span class="hljs-keyword">or</span>
          Derivative Works a copy <span class="hljs-keyword">of</span> this License; and

      (b) You must cause any modified files to carry prominent notices
          stating that You changed the files; and

      (c) You must retain, in the Source form of any Derivative Works
          that You distribute, all copyright, patent, trademark, and
          attribution notices from the Source form of the Work,
          excluding those notices that <span class="hljs-keyword">do</span> <span class="hljs-keyword">not</span> pertain <span class="hljs-keyword">to</span> <span class="hljs-keyword">any</span> part <span class="hljs-keyword">of</span>
          the Derivative Works; and

      (d) If the Work includes a "NOTICE" text file as part of its
          distribution, then any Derivative Works that You distribute must
          include a readable copy of the attribution notices contained
          within such NOTICE file, excluding those notices that <span class="hljs-keyword">do</span> <span class="hljs-keyword">not</span>
          pertain <span class="hljs-keyword">to</span> <span class="hljs-keyword">any</span> part <span class="hljs-keyword">of</span> the Derivative Works, <span class="hljs-keyword">in</span> <span class="hljs-keyword">at</span> <span class="hljs-keyword">least</span> one
          <span class="hljs-keyword">of</span> the <span class="hljs-keyword">following</span> places: <span class="hljs-keyword">within</span> a <span class="hljs-keyword">NOTICE</span> <span class="hljs-built_in">text</span> <span class="hljs-keyword">file</span> <span class="hljs-keyword">distributed</span>
          <span class="hljs-keyword">as</span> part <span class="hljs-keyword">of</span> the Derivative Works; within the Source form or
          documentation, if provided along with the Derivative Works; or,
          within a display generated by the Derivative Works, if and
          wherever such third-party notices normally appear. The contents
          of the NOTICE file are for informational purposes only and
          <span class="hljs-keyword">do</span> <span class="hljs-keyword">not</span> <span class="hljs-keyword">modify</span> the License. You may <span class="hljs-keyword">add</span> Your own attribution
          notices <span class="hljs-keyword">within</span> Derivative Works that You <span class="hljs-keyword">distribute</span>, alongside
          <span class="hljs-keyword">or</span> <span class="hljs-keyword">as</span> an addendum <span class="hljs-keyword">to</span> the <span class="hljs-keyword">NOTICE</span> <span class="hljs-built_in">text</span> <span class="hljs-keyword">from</span> the <span class="hljs-keyword">Work</span>, provided
          that such additional attribution notices cannot be construed
          <span class="hljs-keyword">as</span> modifying the License.

      You may <span class="hljs-keyword">add</span> Your own copyright <span class="hljs-keyword">statement</span> <span class="hljs-keyword">to</span> Your modifications <span class="hljs-keyword">and</span>
      may provide additional <span class="hljs-keyword">or</span> different license terms <span class="hljs-keyword">and</span> conditions
      <span class="hljs-keyword">for</span> <span class="hljs-keyword">use</span>, reproduction, <span class="hljs-keyword">or</span> distribution <span class="hljs-keyword">of</span> Your modifications, <span class="hljs-keyword">or</span>
      <span class="hljs-keyword">for</span> <span class="hljs-keyword">any</span> such Derivative Works <span class="hljs-keyword">as</span> a whole, provided Your <span class="hljs-keyword">use</span>,
      reproduction, <span class="hljs-keyword">and</span> distribution <span class="hljs-keyword">of</span> the <span class="hljs-keyword">Work</span> otherwise complies <span class="hljs-keyword">with</span>
      the conditions stated <span class="hljs-keyword">in</span> this License.

   <span class="hljs-number">5.</span> Submission <span class="hljs-keyword">of</span> Contributions. Unless You explicitly state otherwise,
      <span class="hljs-keyword">any</span> Contribution intentionally submitted <span class="hljs-keyword">for</span> inclusion <span class="hljs-keyword">in</span> the <span class="hljs-keyword">Work</span>
      <span class="hljs-keyword">by</span> You <span class="hljs-keyword">to</span> the Licensor shall be <span class="hljs-keyword">under</span> the terms <span class="hljs-keyword">and</span> conditions <span class="hljs-keyword">of</span>
      this License, <span class="hljs-keyword">without</span> <span class="hljs-keyword">any</span> additional terms <span class="hljs-keyword">or</span> conditions.
      Notwithstanding the above, <span class="hljs-keyword">nothing</span> herein shall supersede <span class="hljs-keyword">or</span> <span class="hljs-keyword">modify</span>
      the terms <span class="hljs-keyword">of</span> <span class="hljs-keyword">any</span> separate license agreement you may have executed
      <span class="hljs-keyword">with</span> Licensor regarding such Contributions.

   <span class="hljs-number">6.</span> Trademarks. This License does <span class="hljs-keyword">not</span> <span class="hljs-keyword">grant</span> permission <span class="hljs-keyword">to</span> <span class="hljs-keyword">use</span> the trade
      <span class="hljs-keyword">names</span>, trademarks, service marks, <span class="hljs-keyword">or</span> product <span class="hljs-keyword">names</span> <span class="hljs-keyword">of</span> the Licensor,
      <span class="hljs-keyword">except</span> <span class="hljs-keyword">as</span> <span class="hljs-keyword">required</span> <span class="hljs-keyword">for</span> reasonable <span class="hljs-keyword">and</span> customary <span class="hljs-keyword">use</span> <span class="hljs-keyword">in</span> describing the
      origin <span class="hljs-keyword">of</span> the <span class="hljs-keyword">Work</span> <span class="hljs-keyword">and</span> reproducing the <span class="hljs-keyword">content</span> <span class="hljs-keyword">of</span> the <span class="hljs-keyword">NOTICE</span> file.

   <span class="hljs-number">7.</span> Disclaimer <span class="hljs-keyword">of</span> Warranty. Unless <span class="hljs-keyword">required</span> <span class="hljs-keyword">by</span> applicable law <span class="hljs-keyword">or</span>
      agreed <span class="hljs-keyword">to</span> <span class="hljs-keyword">in</span> writing, Licensor provides the <span class="hljs-keyword">Work</span> (<span class="hljs-keyword">and</span> <span class="hljs-keyword">each</span>
      Contributor provides its Contributions) <span class="hljs-keyword">on</span> an <span class="hljs-string">"AS IS"</span> BASIS,
      <span class="hljs-keyword">WITHOUT</span> WARRANTIES <span class="hljs-keyword">OR</span> CONDITIONS <span class="hljs-keyword">OF</span> <span class="hljs-keyword">ANY</span> KIND, either express <span class="hljs-keyword">or</span>
      implied, <span class="hljs-keyword">including</span>, <span class="hljs-keyword">without</span> limitation, <span class="hljs-keyword">any</span> warranties <span class="hljs-keyword">or</span> conditions
      <span class="hljs-keyword">of</span> TITLE, NON-INFRINGEMENT, MERCHANTABILITY, <span class="hljs-keyword">or</span> FITNESS <span class="hljs-keyword">FOR</span> A
      PARTICULAR PURPOSE. You <span class="hljs-keyword">are</span> solely responsible <span class="hljs-keyword">for</span> determining the
      appropriateness <span class="hljs-keyword">of</span> <span class="hljs-keyword">using</span> <span class="hljs-keyword">or</span> redistributing the <span class="hljs-keyword">Work</span> <span class="hljs-keyword">and</span> assume <span class="hljs-keyword">any</span>
      risks associated <span class="hljs-keyword">with</span> Your exercise <span class="hljs-keyword">of</span> permissions <span class="hljs-keyword">under</span> this License.

   <span class="hljs-number">8.</span> Limitation <span class="hljs-keyword">of</span> Liability. <span class="hljs-keyword">In</span> <span class="hljs-keyword">no</span> <span class="hljs-keyword">event</span> <span class="hljs-keyword">and</span> <span class="hljs-keyword">under</span> <span class="hljs-keyword">no</span> legal theory,
      whether <span class="hljs-keyword">in</span> tort (<span class="hljs-keyword">including</span> negligence), contract, <span class="hljs-keyword">or</span> otherwise,
      unless <span class="hljs-keyword">required</span> <span class="hljs-keyword">by</span> applicable law (such <span class="hljs-keyword">as</span> deliberate <span class="hljs-keyword">and</span> grossly
      negligent acts) <span class="hljs-keyword">or</span> agreed <span class="hljs-keyword">to</span> <span class="hljs-keyword">in</span> writing, shall <span class="hljs-keyword">any</span> Contributor be
      liable <span class="hljs-keyword">to</span> You <span class="hljs-keyword">for</span> damages, <span class="hljs-keyword">including</span> <span class="hljs-keyword">any</span> direct, indirect, special,
      incidental, <span class="hljs-keyword">or</span> consequential damages <span class="hljs-keyword">of</span> <span class="hljs-keyword">any</span> <span class="hljs-built_in">character</span> arising <span class="hljs-keyword">as</span> a
      <span class="hljs-keyword">result</span> <span class="hljs-keyword">of</span> this License <span class="hljs-keyword">or</span> <span class="hljs-keyword">out</span> <span class="hljs-keyword">of</span> the <span class="hljs-keyword">use</span> <span class="hljs-keyword">or</span> inability <span class="hljs-keyword">to</span> <span class="hljs-keyword">use</span> the
      <span class="hljs-keyword">Work</span> (<span class="hljs-keyword">including</span> but <span class="hljs-keyword">not</span> limited <span class="hljs-keyword">to</span> damages <span class="hljs-keyword">for</span> loss <span class="hljs-keyword">of</span> goodwill,
      <span class="hljs-keyword">work</span> stoppage, computer <span class="hljs-keyword">failure</span> <span class="hljs-keyword">or</span> malfunction, <span class="hljs-keyword">or</span> <span class="hljs-keyword">any</span> <span class="hljs-keyword">and</span> all
      other commercial damages <span class="hljs-keyword">or</span> losses), even <span class="hljs-keyword">if</span> such Contributor
      has been advised <span class="hljs-keyword">of</span> the possibility <span class="hljs-keyword">of</span> such damages.

   <span class="hljs-number">9.</span> Accepting Warranty <span class="hljs-keyword">or</span> Additional Liability. <span class="hljs-keyword">While</span> redistributing
      the <span class="hljs-keyword">Work</span> <span class="hljs-keyword">or</span> Derivative Works thereof, You may <span class="hljs-keyword">choose</span> <span class="hljs-keyword">to</span> offer,
      <span class="hljs-keyword">and</span> charge a fee <span class="hljs-keyword">for</span>, acceptance <span class="hljs-keyword">of</span> support, warranty, indemnity,
      <span class="hljs-keyword">or</span> other liability obligations <span class="hljs-keyword">and</span>/<span class="hljs-keyword">or</span> rights <span class="hljs-keyword">consistent</span> <span class="hljs-keyword">with</span> this
      License. However, <span class="hljs-keyword">in</span> accepting such obligations, You may act <span class="hljs-keyword">only</span>
      <span class="hljs-keyword">on</span> Your own behalf <span class="hljs-keyword">and</span> <span class="hljs-keyword">on</span> Your sole responsibility, <span class="hljs-keyword">not</span> <span class="hljs-keyword">on</span> behalf
      <span class="hljs-keyword">of</span> <span class="hljs-keyword">any</span> other Contributor, <span class="hljs-keyword">and</span> <span class="hljs-keyword">only</span> <span class="hljs-keyword">if</span> You agree <span class="hljs-keyword">to</span> indemnify,
      defend, <span class="hljs-keyword">and</span> hold <span class="hljs-keyword">each</span> Contributor harmless <span class="hljs-keyword">for</span> <span class="hljs-keyword">any</span> liability
      incurred <span class="hljs-keyword">by</span>, <span class="hljs-keyword">or</span> claims asserted against, such Contributor <span class="hljs-keyword">by</span> reason
      <span class="hljs-keyword">of</span> your accepting <span class="hljs-keyword">any</span> such warranty <span class="hljs-keyword">or</span> additional liability.

   <span class="hljs-keyword">END</span> <span class="hljs-keyword">OF</span> TERMS <span class="hljs-keyword">AND</span> CONDITIONS

   APPENDIX: How <span class="hljs-keyword">to</span> <span class="hljs-keyword">apply</span> the Apache License <span class="hljs-keyword">to</span> your work.

      <span class="hljs-keyword">To</span> <span class="hljs-keyword">apply</span> the Apache License <span class="hljs-keyword">to</span> your <span class="hljs-keyword">work</span>, attach the <span class="hljs-keyword">following</span>
      boilerplate <span class="hljs-keyword">notice</span>, <span class="hljs-keyword">with</span> the <span class="hljs-keyword">fields</span> <span class="hljs-keyword">enclosed</span> <span class="hljs-keyword">by</span> brackets <span class="hljs-string">"[]"</span>
      replaced <span class="hljs-keyword">with</span> your own identifying information. (Don<span class="hljs-string">'t include
      the brackets!)  The text should be enclosed in the appropriate
      comment syntax for the file format. We also recommend that a
      file or class name and description of purpose be included on the
      same "printed page" as the copyright notice for easier
      identification within third-party archives.

   Copyright [yyyy] [name of copyright owner]

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.</span>
</code></pre>